<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>NeoChat</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="./public/css/chat.css">
</head>

<body>
  <div id="sidebar" class="sidebar">
    <div class="modal">List of users here</div>
    <ul id="users">
      <!-- Add Users Here-->

    </ul>
  </div>
  <div class="content">
    <ul id="allTabs" class="tabs">
      <li class="tab">#announcements</li>
      <li class="tab tab-primary">#soccer</li>
      <li class="tab">#jazz</li><a style="float=right; margin-left: 58%;" href="/logout">Log out</a>
    </ul>
    <div class="chat">
      <div class="messages">
        <!-- Messages go here-->
      </div>
      <form id="#message-form">
        <input id="message-input" placeholder="Type your Message Here" autocomplete="off">
        <button>Reply</button>
      </form>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="./public/js/main.js"></script>

</body>

</html>