<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="./public/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
  <div id="cf4a">
    <img src="./public/images/1.jpg">
    <img src="./public/images/2.jpg">
    <img src="./public/images/3.jpg">
    <img src="./public/images/4.jpg">
    <div class="wrap">
      <form action="/register" method="POST" class="login register">
        <h1 class="form-title">Register</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="login" value="Register" class="btn btn-danger btn-sm"><br><br>
        <p style="margin:0 auto; text-align: center">Already an user? <a href="/">Sign In!</a></p>
      </form>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</body>

</html>